__pycache__/
.mypy_cache/
.env

.DS_Store
.vscode
scancode_report.json
semgrep_output.json
out.json

docs/
logs/
user_project/
assets/
project_run/
project_run/RGM_econ_pyfiles/
sigscan.egg-info/
setup_phase1.py
main_consolidated.py
